@font-face {
    font-family: 'Joystix';
    src: url('/public/fonts/joystix.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        background-image: url('/img/background.png');
        background-size: cover; /* 화면 가득 차게 */
        background-repeat: no-repeat; /* 이미지 반복 없애기 */
    }
}
